body{margin:0;padding:0;line-height: 1.5em;}
p{margin:0em;}
.center {text-align: center;}
.caption{text-align: center; font-style: italic; font-size:small; font-weight:bold; margin:0em;}

#maincontainer{font-family: Arial, Helvetica, sans-serif;width: 100%; margin: 0 auto; overflow: hidden;}

#topsection{background: #AAAAAA; height: 100%; font-family: Arial, Helvetica, sans-serif;margin-left: 300px;margin-right: 1px;}
#topsection h1{margin: 0em; text-align:center; vertical-align:middle; padding-top: -10px; font-size: 26px; color: #444444;}
#topsection h2{margin: 0em; text-align:center; vertical-align:middle; padding-top: 2px; font-size: 10px; color: #444444;}

#contentwrapper{float: left; position:relative; overflow:hidden; width: 100%;}

#contentcolumn{border: solid 1px gray; padding: 2px 20px 20px 20px; margin-left: 300px;margin-right: 1px;height:100%;}
#contentcolumn h1{margin: 0.5em; text-align:center; vertical-align:middle; padding: 10px 5px; font-size: 26px; color: #555555;}
#contentcolumn h3{margin-bottom:.0001pt; page-break-after:avoid; font-size:12.0pt; font-style:italic;}
#contentcolumn-bottom{position: absolute; bottom: 0; right: 0; height: 1px; background:gray; width:780px;}

#leftcolumn{border: solid 1px gray; padding: 2px 0px 32767px 0px; margin-bottom: -32767px; float: left;	width: 248px; margin-top: 0;}
#leftcolumn-bottom{position: absolute; bottom: 0; left: 0; height: 1px; background:gray; width:220px;}
#leftcolumn ul#sitemap {margin: 0;padding: 0;list-style: none;}
#leftcolumn ul#sitemap ul {padding-left: 1em;list-style: none;}
#leftcolumn ul#sitemap li {border-bottom: 2px solid #FFFFFF;}
#leftcolumn ul#sitemap li a:link, 
#leftcolumn ul#sitemap li a:visited{background-color: #CCCCCC; display: block; padding: 0.1em; text-decoration: none; color: #057FAC; text-indent: 5px;}
#leftcolumn ul#sitemap li a:hover {background-color: #555555;color: #FFFFFF;}
#leftcolumn ul#sitemap li li a:link, 
#leftcolumn ul#sitemap li li a:visited{background-color: #FFFFFF;display: block;padding: 0.1em;}
#leftcolumn ul#sitemap li li a:hover {background-color: #999999;color: #FFFFFF;}
#leftcolumn ul#sitemap li li li a:link,
#leftcolumn ul#sitemap li li li a:visited{background-color: #FFFFFF;display: block;padding: 0.1em;}
#leftcolumn ul#sitemap li li li a:hover {background-color: #ffffff;color: #FFFFFF;}

#footer{clear: left;height:20px; background: #222222; color: #FFF; text-align: center; padding: 4px ; font-size:x-small;margin-left: 300px;margin-right: 1px;}
#footnote{font-size:x-small;}


div.figure {text-align: center; float:none; width:50%; margin: 0.5em; margin-left:auto; margin-right:auto;}
div.figure p {text-align: center; font-style: italic; font-size:small; font-weight:bold; margin:0em;}
div.innertube{margin: 0px; margin-top: 0;	width:100%;}

img.scaled {width:100%; height:100%;}

table.gridtable {width: 70%; font-size:10px; border-width: 1px; border-color: #666666; border-collapse: collapse; margin-left:auto; margin-right:auto;}
table.gridtable th {font: bold; text-align:center; padding: 2px; border: solid 1px #666666; background-color: #ffffff;}
table.gridtable td {border: 1px solid #666666; text-align:center; padding: 2px;	background-color: #ffffff;}
table.gridtable caption { text-align: center; font-style: italic; font-size: small; font-weight: bold; margin:0em;}

/******** the in-page tab style was adopted from http://unraveled.com/publications/assets/css_tabs/  *********/	
/* begin css tabs */
ul#tabnav { /* general settings */
text-align: center; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #555; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

div#tab1 li.tab1, div#tab2 li.tab2, div#tab3 li.tab3, div#tab4 li.tab4, div#tab5 li.tab5, div#tab6 li.tab6 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

div#tab1 li.tab1 a, div#tab2 li.tab2 a, div#tab3 li.tab3 a, div#tab4 li.tab4 a, div#tab5 li.tab5 a, div#tab6 li.tab6 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #555; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #bbb; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 5px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

@media (max-width:767px) {
#contentcolumn{
    margin-left:0em;
    position:relative;
}
@media (max-width:767px) {
#topsection{
    margin-left:0em;
    position:relative;  
}